*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
    background-image: url("Images/photo-1577223597229-2a83f97def38.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-position: center;
    
   
    
  }
  
  header {
    background-color: #db0007;
    color: white;
    padding: 1.5rem;
    text-align: right;
  }
  
  .logo{
    display:flex;
    align-items: center;
  }

  .logo img{
    width:40px;
    height:auto;
  }
  nav{
    align-items: center;
   
  }
  nav ul {
    list-style: none;
    padding: 0;
 
  }
  
  nav ul li { background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
    display: inline;
    margin: 0 1rem;
    margin-bottom: 0 2rem;
    
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
     
  
  }
  
  main {
    padding: 2rem;
  }
  
  .welcome {
    text-align: center;
  }
  
  .live-updates, .player-profiles {
    margin: 2rem 0;
  }
  
  footer {
    background-color: #db0007;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    bottom: 0;
  }
  .player-profiles-img {
    max-width: 500%;
    height:150px;
    border-radius: 50%;
  }
  .player-profiles {
    background-color:ivory;
    padding: 1000x;
    margin: 16x;
    border: 5x;
    
  }
  .img {
    max-width: 400%;
  }